body {
  background: rgb(18, 17, 39);
}

.container {
  margin-top: 5rem;
  width: 25rem;
  margin-inline: auto;
}

.wrapper {
  display: flex;
  outline: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  background: transparent;
}

.wrapper input {
  flex-grow: 1;
  height: 3rem;
  padding-inline: 1rem;
  font-size: 1.2rem;
  border: 0;
  color: rgba(255, 255, 255, 1);
  background-color: transparent;
}

.wrapper input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.wrapper input:focus {
  outline: 1px solid rgba(255, 255, 255, 0.5);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.icon {
  font-size: 1.4em;
  display: grid;
  place-items: center;
  padding-inline: 0.8rem;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.3);

  border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.data {
  margin-top: 10px;
  width: 100%;
  max-height: 16.7rem;
  background-color: transparent;
  color: white;
  outline: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  overflow: hidden;
  overflow-y: auto;
}

.data-item {
  width: 100%;
  padding: 0.8em 1em;
  cursor: pointer;
}

.data-item:hover {
  background-color: rgba(138, 43, 226, 0.2);
}

.clear-icon {
  cursor: pointer;
}

.clear-icon:hover {
  color: white;
}
.card {
  outline: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  color: rgba(255, 255, 255, 0.3);
  margin-top: 5rem;
  padding: 1rem;
  border-radius: 3px;
}

.card h2 {
  color: rgba(255, 255, 255, 0.9);

  font-size: 1.2rem;
  line-height: 1.5;
}

.card h2 span {
  color: rgba(255, 255, 255, 0.8);
  display: block;
  font-size: 0.85rem;
  margin-top: 0.5rem;
}
